<label for={{identifier}}>
  {{one-way-input
      id=identifier
      checked=(get object propertyName)
      value=propertyName
      update=(action update object propertyName)
      type=type

      name=name
  }}
  {{label}}
</label>
