{{#if errors}}
  <div class={{joinedErrorClasses}}>
    {{#each errors as |error index|}}
      <div id={{concat errorId "-" index}} role="alert">{{error.message}}</div>
    {{/each}}
  </div>
{{/if}}
