<label>{{label}}</label>
{{#each options as |option|}}
  {{radio-button
      object=object
      propertyName=propertyName
      value=option
      update=update
      name=identifier
  }}
{{/each}}
