<label for={{identifier}}>{{label}}</label>
{{one-way-input
    id=identifier
    value=(get object propertyName)
    update=(action update object propertyName)

    accept=accept
    autocomplete=autocomplete
    autosave=autosave
    dir=dir
    disabled=disabled
    formaction=formaction
    formenctype=formenctype
    formmethod=formmethod
    formnovalidate=formnovalidate
    formtarget=formtarget
    height=height
    inputmode=inputmode
    lang=lang
    list=list
    max=max
    min=min
    multiple=multiple
    name=name
    pattern=pattern
    placeholder=placeholder
    size=size
    step=step
    type=type
    width=width
}}
